@use 'utilitários.scss' as u;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: u.$cor-1; // Azul bem escuro (background-body)
    color: u.$cor-2; // Branco (text-color-white)
    font-family: u.$font-family-primary;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    text-align: center;
}

header, main, footer {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: transparent;
    padding: 10px 15px;
    color: u.$cor-2; // Branco (text-color-white)
    border-radius: 30px;
    border: 2px solid u.$cor-5; // Azul (border-color)
    cursor: pointer;
    font-family: u.$font-family-secondary;
    font-size: u.$font-size-paragraph;
    transition: transform 0.2s ease, background 0.3s ease;

    &:hover {
        background-image: u.$cor-7; // Gradiente (gradient-background)
        transform: scale(0.95);
    }
}

.zoom-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: u.$font-size-h3;
    animation: typing 2.5s steps(30, end), blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: u.$cor-2; // Branco (text-color-white)
    }
}

.slide-in {
    opacity: 0;
    transform: translateX(-150px);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: u.$cor-1; // Azul bem escuro (scroll-background)
}

::-webkit-scrollbar-thumb {
    background: u.$cor-8; // Azul escuro (scroll-bar-color)
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: u.$cor-5; // Azul (scroll-bar-hover)
}